<section>
    <div class="row">
        <div class="col-md-12">
            <legend>{{'ATIVAR_CADASTRO_NO_SISTEMA' | translate}}</legend>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ativarCadastroCtrl.message}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <button class="btn btn-primary" ui-sref="app.public.signIn.login">{{'VOLTAR_PAGINA_INICIAL' | translate}}</button>
        </div>
    </div>
</section>
