<section>
    <div class="form-group">
        <div class="col-md-12">
            <legend>{{'CADASTRAR_NOVA_PASSWORD' | translate}}</legend>
        </div>
    </div>
    <div class="form-group">
        <form name="cadastrarNovaPasswordCtrl.formCadastrarNovaPassword" class="form-horizontal" novalidate>

            <div class="form-group">
                <label for="nova-password" class="col-md-2 obrigatorio">{{'NOVA_PASSWORD' | translate}}</label>
                <div class="col-md-10">
                    <input id="nova-password" name="nova-password" type="password" class="form-control" ng-model="cadastrarNovaPasswordCtrl.userExternal.passwordUserExternalVO.password"
                    minlength="6" maxlength="32" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmar-nova-password" class="col-md-2 obrigatorio">{{'CONFIRMAR_A_NOVA_PASSWORD' | translate}}</label>
                <div class="col-md-10">
                    <input id="confirmar-nova-password" name="confirmar-nova-password" type="password" class="form-control" ng-model="cadastrarNovaPasswordCtrl.confirmarNovaPassword"
                        minlength="6" maxlength="32" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary" ng-click="cadastrarNovaPasswordCtrl.redefinirPassword()">{{'CONCLUIR' | translate}}</button>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-default" ui-sref="app.public.signIn.login">{{'CANCELAR' | translate}}</a>
                </div>
            </div>
        </form>
    </div>
</section>
