<section>
    <div class="panel panel-default">

        <!--  panel body !-->
        <div class="panel-body">
            <form name="formPerson" class="form-horizontal" novalidate>
              <div class="row">
                <div class="col-xs-12">
                  <h3 class="header smaller lighter blue">{{'PERSONS_LIST' | translate}}</h3>

                  <div class="table-header">
                    Results for "Latest Registered Domains"
                  </div>

                  <!-- div.table-responsive -->

                  <!-- div.dataTables_borderWrap -->
                  <div class="widget-box">
                			<div class="widget-header">
                  				<h4>Registers</h4>

                  				<div class="widget-toolbar">
                  				</div>

                  				<div class="widget-toolbar">
                  				</div>
                			</div>

            			<div class="widget-body">
              				<div class="widget-main" style="min-height: 300px;">
                          <table class="table table-striped table-bordered table-hover" ng-table="showPersonCtrl.tableParams">
                              <tbody>
                                  <tr ng-repeat="item in $data" scroll-to="" class="text-center">
                                      <td data-title="'ID'" sortable="'idPerson'">{{item.idPerson}}</td>
                                      <td data-title="'Name'" sortable="'name'">{{item.name}}</td>
                                      <td data-title="'E-mail'" sortable="'email'">{{item.email}}</td>
                                      <td data-title="'Phone'" sortable="'phone'">{{item.phone}}</td>
                                      <td data-title="'CPF'" sortable="'cpf'">{{item.cpf}}</td>
                                      <td data-title="'Birthday'" sortable="'birthDayDate'">{{item.birthDayDate}}</td>
                                      <td data-title="'Gender'" sortable="'gender.description'">{{item.gender.description}}</td>
                                      <td data-title="'Action'" ng-style="{ 'width': '16%' }">
                                          <a class="blue" href="" ui-sref="app.private.managePerson.visualizar({person: item})">
                                              <i class="ace-icon fa fa-search bigger-130" uib-tooltip="{{'SHOW_RESOURCE' | translate}}" class="btn btn-default"></i>
                                          </a>
                                          <a class="blue">
                                              <i class="ace-icon fa fa-pencil bigger-130" uib-tooltip="{{'UPDATE_RESOURCE' | translate}}" class="btn  btn-default" ng-disabled="showPersonCtrl.disableChanges(item)" ng-click="showPersonCtrl.update(item)"></i>
                                          </a>
                                          <a class="red">
                                              <i class="ace-icon fa fa-trash-o bigger-130" uib-tooltip="{{'REMOVE_RESOURCE' | translate}}" class="btn btn-default" ng-disabled="showPersonCtrl.disableChanges(item)" ng-click="showPersonCtrl.onDelete(item);" ></i>
                                          </a>
                                      </td>
                                  </tr>
                                  <tr ng-if="showPersonCtrl.tableParams.totalResults == 0">
                                      <td colspan="3">{{'DATA_NOT_FOUND' | translate}}</td>
                                  </tr>
                              </tbody>
                          </table>
                          <div class="col-md-12">
                              <p class="pull-left">{{'AMOUNT' | translate}}: {{showPersonCtrl.total}}</p>
                          </div>
              			</div>
            		</div>
                </form>
            </div>
        </div>
        <div class="form-actions left">
            <button type="submit" class="btn btn-info btn-sm" scroll-to="" ui-sref="app.private.managePerson.insert({person: {}})">{{'INSERT'| translate}}</button>
        </div>
    </div>
</section>
