<div id="topo-verde" class="col-md-12">
  <div class="col-md-6 col-sm-6 hidden-xs">
    <nav>
      <a title="Ativar Altocontraste" href="javascript:void(0);" data-ng-click="toggleContraste()" class="topo-verde-icon-round icons-top-contraste">
        <span class="topo-verde-icon">
          <i class="icon-eye"></i>
        </span>
      </a>
      <a title="Aumentar fonte" href="javascript:void(0);" class="topo-verde-icon-round" data-ng-click="ajustarFonte(1);">
        <span class="topo-verde-icon">
          <i class="icon-font-plus"></i>
        </span>
      </a>
      <a title="Fonte normal" href="javascript:void(0);" class="topo-verde-icon-round" data-ng-click="setFontSize(4);">
        <span class="topo-verde-icon">
          <i class="icon-font2"></i>
        </span>
      </a>
      <a title="Diminuir fonte" href="javascript:void(0);" class="topo-verde-icon-round" data-ng-click="ajustarFonte(-1);">
        <span class="topo-verde-icon">
          <i class="icon-font-less"></i>
        </span>
      </a>
    </nav>
  </div>
  <div class="col-md-6 col-sm-6 text-right">
    <nav>
      <a title="Entrar no Currículo erudio" class="topo-verde-links-round entrar" href="javascript:void(0);" > 
        <i class="icon-lock"></i> 
        <span>Logar-se</span> 
      </a>
      <a title="Sair do Currículo erudio" class="topo-verde-links-round sair" href="javascript:void(0)"> 
        <i class="icon-unlocked3"></i> 
        <span>Sair do Currículo</span> 
      </a>
    </nav>
  </div>
</div>